<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }} ">

</head>
<body>
    <header>
        <nav>
            <a href="/">Sākums</a>
            <a href="/produkti">Produkti</a>
            <a href="/par-mums">Par mums</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 MiniVeikals</p>
    </footer>
</body>
</html>